<header>
<div class="in"></div>
	<div class="responsive">
		<div class="menu-container">
			<div class="side-menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about-me">A propose de moi</a></li>
					<li><a href="/projects">Projets</a></li>
					{% if admin.userId %}
				<li>
					<a href="/dashboard">Dashboard</a>
				</li>
			{% endif %}
				</ul>
			</div>
			<div id="menuBurger" class="closed">
				<span class="burger" id="burgerOne"></span>
				<span class="burger" id="burgerTwo"></span>
				<span class="burger" id="burgerThree"></span>
			</div>
		</div>
	</div>

	<nav class="nav">
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/about-me">A propos de moi</a>
			</li>
			<li>
				<a href="/projects">Projets</a>
			</li>
			{% if admin.userId %}
				<li>
					<a href="/dashboard">Dashboard</a>
				</li>
			{% endif %}
		</ul>
	</nav>
</div></header>
