.front {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(27,2,20,1) 16%, rgba(121,9,90,1) 48%, rgba(134,35,104,1) 74%, rgba(0,0,0,1) 88%);
}

.left-front {
    background-image: url("../img/city-skyline-left.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.right-front {
    background-image: url("../img/city-skyline-right.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}


/*----------------------------------------------------------------loading circles*/

.loading-circle {
    position: relative;
    text-align: center;
    margin: auto;
    width: 100px;
    height: 100px;
}

.loading-circle i {
    position: absolute;
    top: 50%;
    left: 38%;
    color: #7a7550;
}

#circleTwo {
    position: absolute;
    top: -5%;
    left: 5%;
    margin-top: 10px;


}

#circleOne {
    position: absolute;
    top: -5%;
    left: -5%;


}

.loading-circle:hover {
    transition: 1000ms;
    transform: scale(1.1, 1.1);
}

/* #circle-one:hover {
    transition: 1000ms;
    transform-origin: (center,center);
    transform : rotate(20deg) ;
}

#circle-two:hover {
    transition: 1000ms;
    transform-origin: (center,center);
    transform : rotate(-20deg) ;
} */