html {
    height: 100vh;
    cursor: url("../ico/Awesome\ Gun.cur"), grabbing;
}

a:hover, .link:hover, button:hover{
    cursor: url("../ico/Crosshair\ purple\ lens.cur"), grabbing;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

header a {
    z-index: 2;
}

strong {
    text-decoration: underline;
}

.carousel-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(27, 2, 20, 1) 25%, rgba(121, 9, 90, 1) 48%, rgba(134, 35, 104, 1) 75%, rgba(242, 245, 216, 1) 100%);
}


.carousel {
    display: flex;
    align-items: center;
    position: relative;
}

.carousel__scene {
    position: relative;
    /* top: -30vh; défini dans le template twig en fonction du nombre de projets*/
    display: flex;
    justify-content: center;
    width: 720px;
    height: 800px;
    max-width: 95vw;
    padding-top: 500px;
    perspective: 800px;
    /*overflow: hidden;*/
}

.carousel__list {
    width: 100%;
    height: 278px;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translateZ(-500px);
    transform-style: preserve-3d;
    transition: transform 1s;
    list-style: none;
    counter-reset: list-counter;
}

.carousel__cell {
    position: absolute;
    padding: 5px;
    width: 852px;
    height: 244px;
    max-width: calc(95vw - 20px);
    left: -10%;
    top: 10px;
    border: 2px solid #7f7b58;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #7f7b58;
    text-align: center;
    transition: transform 1s, opacity 1s;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    text-align: left;
    counter-increment: list-counter;
    background-color: rgba(84, 0, 55, 0.892);
    /*filter: blur(2px);*/
}

.link:hover {
    font-style: italic;
    color: #ff03d9;
}

.tech {
    display: flex;
    height: 100%;
    width: 5vw;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}


.carousel__cell img {
    width: 100px;
    height: 100px;
    margin: auto 0 auto 0;
}

.carousel .ico {
    width: 45px;
    height: 45px;
    margin: 0 auto 0 auto;

}

.carousel__cell p {
    margin: 0 5px 0 5px;
    width: 15vw;
    word-break: break-word;
}

.carousel__cell::before {
    content: counter(list-counter);
    color: #7f7b58;
    text-shadow: 2px 2px black;
    width: 20px;
    height: 70px;
    text-align: center;
    line-height: 70px;
}

.carousel__cell.selected {
    color: #fff6a9;
    box-shadow: 0 0 5px #b208af, 0 0 15px #b208af, 0 0 20px #b208af, 0 0 40px #b208af, 0 0 60px #ff009d, 0 0 10px #ff00d9, 0 0 98px #ff0000;
    border-color: #fff6a9;
    border-width: 5px;
    background-color: rgba(174, 3, 114, 0.892);
    /*filter: none;*/
}

.carousel__cell.selected::before {
    color: #fff6a9;
}

.carousel__cell:nth-child(1) {
    transform: rotateX(0deg) translateZ(500px);
}

.carousel__cell:nth-child(2) {
    transform: rotateX(40deg) translateZ(500px);
}

.carousel__cell:nth-child(3) {
    transform: rotateX(80deg) translateZ(500px);
}

.carousel__cell:nth-child(4) {
    transform: rotateX(120deg) translateZ(500px);
}

.carousel__cell:nth-child(5) {
    transform: rotateX(160deg) translateZ(500px);
}

.carousel__cell:nth-child(6) {
    transform: rotateX(200deg) translateZ(500px);
}

.carousel__cell:nth-child(7) {
    transform: rotateX(240deg) translateZ(500px);
}

.carousel__cell:nth-child(8) {
    transform: rotateX(280deg) translateZ(500px);
}

.carousel__cell:nth-child(9) {
    transform: rotateX(320deg) translateZ(500px);
}


@media (max-width: 1200px) {
    .carousel__cell {
        flex-direction: column;
    }

    .carousel__cell::before {
        display: none;
    }

    .datas {
        display: flex;
        align-items: flex-start;
    }


}

@media (max-width: 920px) {
  
    .carousel__cell {
        left: 0%;
    }


}

@media (max-width: 690px) {
    .carousel__cell img {
        display: none;
    }

    .carousel__cell {
        font-size: 14px;
    }




}


