{% extends "base.twig" %}

{% block link %}
	<link rel="stylesheet" href="css/about-style.css">
{% endblock %}
{% block head %}
	<title>Moi</title>
{% endblock %}
{% block main %}
	<main>
		div
		<section class="about-me">
			<h2>WANTED: Oriano Andreoli - Développeur WEB</h2>
			<div class="presentation">
				<img class="face" src="./img/wanted-face.jpg" alt="Oriano Andreoli">
				<p>
					Bienvenue sur mon portfolio choom !
					<br>
					Je suis un développeur web passionné et créatif avec une expérience unique en tant qu'ancien militaire de l'Aviation légère de l'Armée de Terre. Après avoir consacré plusieurs années à servir mon pays, j'ai décidé de suivre ma passion pour la technologie et de me lancer dans une carrière dans le développement web.
					<br>
					Mon parcours militaire m'a inculqué des valeurs fondamentales telles que la rigueur, le leadership et la résolution de problèmes. Ces compétences transposables sont des atouts précieux dans le domaine du développement web, où la rigueur, l'organisation et la capacité à travailler sous pression sont essentielles.
					<br>
					Merci de visiter mon portfolio et n'hésitez pas à mon contacter via le formulaire de contact!
				</p>
			</div>
		</section>
		<section class="techno">
			<h2>Technos et compétences</h2>
			<div class="img-container">
				<img class="slide-right" src="./img/cyberpunk-car-1.png" alt="">
				<img class="slide-left" src="./img/cyberpunk-car-2.png" alt="">
			</div>
		</section>
	</main>
{% endblock %}
{% block scriptJs %}
	<script src="/js/about.js"></script>
{% endblock %}
