{% extends "base.twig" %}

{% block link %}
	<link rel="stylesheet" href="css/home_style.css">
{% endblock %}
{% block head %}
	<title>Home</title>
{% endblock %}
{% block header %}
	<header class="home-header">
		<div class="in"></div>
		<div class="responsive">
			<div class="menu-container">
				<div class="side-menu">
					<ul>
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/about-me">A propose de moi</a>
						</li>
						<li>
							<a href="/projects">Projets</a>
						</li>
						{% if admin.userId %}
							<li>
								<a href="/dashboard">Dashboard</a>
							</li>
						{% endif %}
					</ul>
				</div>
				<div id="menuBurger" class="closed">
					<span class="burger" id="burgerOne"></span>
					<span class="burger" id="burgerTwo"></span>
					<span class="burger" id="burgerThree"></span>
				</div>
			</div>
		</div>

		<nav class="nav">
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/about-me">A propos de moi</a>
				</li>
				<li>
					<a href="/projects">Projets</a>
				</li>
				{% if admin.userId %}
					<li>
						<a href="/dashboard">Dashboard</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	</div>
</header>{% endblock %}{% block main %}
<main>
	<div class="loading-circle">
		<img id="circleOne" src="/img/circle-one.png" alt="">
		<img id="circleTwo" src="/img/circle-two.png" alt="">
		<i id="lockText" class="fa-solid fa-volume-xmark fa-xl" style="color: #fff6a9;"></i>
	</div>
	<div class="presentation">
		<div class="front">
			<div class="left-front"></div>
			<div class="right-front"></div>
		</div>
		<div class="scroll">
			<img class="mouse" src="./img/scroll-mini.png">
		</div>
		<div class="hey">
			<h2>Développeur WEB</h2>
			<p class='text'>
				Bienvenue sur mon portfolio choom !
				<br>
				Je m'appelle Oriano Andreoli et je suis développeur WEB.
				<br>
				Plongez dans cet'univers cyberpunk captivant où le futur rencontre la technologie.
				<br>
				N'hésitez pas à me concter!
			</p>
			<button class="btn open glowing-btn">
				<span class="glowing-text">Con<span class="faulty-letter">ta</span>ct<span class="faulty-letter">ez-</span>moi</span>
			</button>
		</div>
		<div class="hey-two">
			<h2>Développeur WEB</h2>
			<p class='text'>
				Bienvenue sur mon portfolio choom !
				<br>
				Je m'appelle Oriano Andreoli et je suis développeur WEB.
				<br>
				Plongez dans cet'univers cyberpunk captivant où le futur rencontre la technologie.
				<br>
				N'hésitez pas à me concter!
			</p>
			<button class="btn open glowing-btn">
				<span class="glowing-text">Con<span class="faulty-letter">ta</span>ct<span class="faulty-letter">ez-</span>moi</span>
			</button>
		</div>
	</div>
	<div class="mail-message clicable">
		{% if mailError %}
			<p>{{mailError}}</p><i class="fa-solid fa-rectangle-xmark fa-2xl close-message" style="color: #f005e8;"></i>
		{% elseif mailSuccess %}
			<p>{{mailSuccess}}</p><i class="fa-solid fa-rectangle-xmark fa-2xl close-message" style="color: #f005e8;"></i>
		{% endif %}
	</div>
</main>{% endblock %}{% block scriptJs %}
<script src="js/mail.js"></script>
<script src="js/home.js"></script>{% endblock %}
