{% extends "base.twig" %}

{% block link %}
	<link rel="stylesheet" href="css/home_style.css">
{% endblock %}
{% block head %}
	<title>Home</title>
{% endblock %}


{% block main %}
	<main>
		<div class="loading-circle">
			<img id="circleOne" src="/img/circle-one.png" alt="">
			<img id="circleTwo" src="/img/circle-two.png" alt="">
			<i id="lockText" class="fa-solid fa-volume-xmark fa-xl" style="color: #fff6a9;"></i>
		</div>
		<div class="front">
			<div class="left-front"></div>
			<div class="right-front"></div>
		</div>
	</main>
{% endblock %}


{% block scriptJs %}
	<script src="js/home.js"></script>
{% endblock %}
